:root {
    --first-color: #ececec;
    --second-color: #9fd3c7;
    --third-color: #385170;
    --fourth-color: #142d4c;
}

body {
    background: var(--first-color) !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 4vw;
    background-color: var(--third-color);
    width: 80%;
    margin: 0 auto;
    padding: 1em 0.5em;
    text-shadow: 0.08em 0.08em rgba(0, 0, 0, 0.5);
    text-align: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: var(--first-color);
}

.template-grids {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Cambiado para mantener elementos cuadrados */
    grid-gap: 1em;
    padding: 1em;
    max-width: 1000px;
    margin: 0 auto;
}

.grid-item {
    background-color: var(--third-color);
    box-shadow: 6px 5px var(--fourth-color);
    width: 100%;
    max-width: 180px;
    height: 0;
    padding-top: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
}

.grid-item > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta la imagen para que quepa dentro del espacio del div */
    transition: transform 0.4s;
    margin: 0 auto;
    display: block; 
}

.grid-item:hover > img {
    transform: scale(1.05);
}

canvas {
    max-height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
    background-color: var(--third-color);
    box-shadow: 6px 5px var(--fourth-color);
    padding: 2em;
}
